<!-- Main navigation -->
<div class="sidebar-category sidebar-category-visible">
    <div class="category-content no-padding">
        <ul class="navigation navigation-main navigation-accordion">
            <!-- 首页 -->
            <li class="navigation-header"><span>菜单</span> <i class="icon-menu" title="菜单"></i></li>
            <li class="main-index-calendarDisplay"><a href="#/main/index/index"><i class="icon-home4"></i>
                    <span>首页</span></a></li>
            <!-- /首页 -->


            <!-- 测试demo -->
            <li class="navigation-header"><span>测试demo</span> <i class="icon-menu" title="用户管理"></i></li>
            <li ><a class="power-menu " href="#/main/test/studentListView"><i
                            class="icon-user-plus"></i>学生列表</a>
            </li>
            <li ><a class="power-menu" href="#/main/test/scoreListView"><i
                            class="icon-list"></i>成绩列表</a></li>
            <!-- 测试demo  -->

            <!-- 用户管理 -->
            <li class="navigation-header"><span>用户管理</span> <i class="icon-menu" title="用户管理"></i></li>
            <li class="main-admin-memberEditView"><a class="power-menu " href="#/main/admin/memberListView"><i
                            class="icon-ungroup"></i>用户管理</a>
            </li>
            <li class="main-admin-groupEditView"><a class="power-menu" href="#/main/admin/groupListView"><i
                            class="icon-road"></i>角色管理</a></li>
            <!-- 用户管理 -->

            <!-- 个人中心 -->
            <li class="navigation-header"><span>个人中心</span> <i class="icon-menu" title="个人中心"></i></li>
            <li><a class="power-menu" href="#/main/auth/myInfoView"> <i class="icon-user"></i> 个人信息</a>
            </li>
            <li><a class="power-menu" href="#/main/auth/resetPasswordView"> <i class="icon-safe"></i> 修改密码</a>
            </li>
            <li><a href="#/main/auth/logout"><i class="icon-home4"></i> <span>注销</span></a></li>
            <!-- /个人中心 -->
        </ul>
    </div>
</div>
<!-- /main navigation -->